@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

:root {
  --light-black: #34495e;
  --black: #2c3e50;
}

* {
  box-sizing: border-box;
  color: var(--black);
}

body {
  font-family: "Poppins", "sans-serif";
  margin: 0;
  background: #ffe259; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffa751,
    #ffe259
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffa751,
    #ffe259
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* created a gradient via the usage of linear-gradient css function, 
    and set as background-image */
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
}

.non-underlined-link {
  text-decoration: none;
  color: inherit;
}

.brand-name {
  display: inline-block;
  margin-left: 20px;
  font-size: 3rem;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: linear;
}

.brand-name:hover {
  transform: scale(1.05);
}

.navbar-item {
  display: inline-block;
  margin-top: 20px;
  padding: 10px;
}

.navbar-img {
  font-size: 3rem;
  transition-duration: 0.5s;
  transition-property: transform;
}

.navbar-item:hover .navbar-img {
  transform: scale(1.2);
}

.navbar-link {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 800;
}

#search-bar {
  display: none;
  background-color: #ffa751;
  padding: 1em;
  margin-right: 10px;
  border: 2px solid var(--black);
  border-radius: 10px;
  font-family: inherit;
  font-weight: 800;
  font-size: 1.3em;

  position: relative;
  bottom: 20px;
}

#search-bar:focus {
  border: 5px solid var(--black);
}

hr {
  margin: 0 auto;
  width: 98vw;
  border: 1px solid var(--black);
}

.main-content {
  font-size: 2em;
  padding: 20px;
}

.main-content table {
  margin: auto;
  width: 1200px;
  transition-duration: 300ms;
}

.main-content table:hover {
  z-index: 1;
  transform: scale(1.5);
  background: #ffe259; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffa751,
    #ffe259
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffa751, #ffe259);
}

.main-content table,
.main-content table tr,
.main-content table tr th,
.main-content table tr td {
  border: 2px solid var(--black);
  border-collapse: collapse;
}

.quiz-data-entry {
  text-align: center;
}

.quiz-data-entry a {
  color: inherit;
  opacity: 0.75;
  text-decoration: underline;
  margin-left: 50px;
}

.quiz-data-entry a:hover {
  opacity: 1;
}

#quiz-title {
  text-align: left;
}

.copyright-text-container {
  margin-top: 3.5%;
  font-size: 20px;
}

.copyright-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
