@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

:root {
  --black: #2c3e50;
}

* {
  box-sizing: border-box;
  color: var(--black);
}

body {
  font-family: "Poppins", "sans-serif";
  margin: 0;
  background: #ffe259; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffa751,
    #ffe259
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffa751,
    #ffe259
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* created a gradient via the usage of linear-gradient css function, 
      and set as background-image */
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
}

.non-underlined-link {
  text-decoration: none;
  color: inherit;
}

.brand-name {
  display: inline-block;
  margin-left: 20px;
  font-size: 3rem;

  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: linear;
}

.brand-name:hover {
  transform: scale(1.05);
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

hr {
  margin: 0 auto;
  width: 98vw;
  border: 1px solid var(--black);
}

.secondary-content {
  width: 1000px;
  position: relative;
  top: 20px;
  margin: 0 auto;
  background-color: inherit;
  padding: 3%;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;

  animation: fadein;
  animation-fill-mode: backwards;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-duration: 1s;
}

#alternate-option-txt {
  position: absolute;
  left: 49%;
  top: 0.5%;
  font-size: 2em;
}

.login-heading {
  text-align: center;
  animation: slidefromtop;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  animation-duration: 0.5s;
  animation-timing-function: linear;
}

@keyframes slidefromtop {
  0% {
    position: relative;
    top: -300px;
  }
  50% {
    position: relative;
    top: -150px;
  }
  100% {
    position: relative;
    top: 0;
  }
}

.social-media {
  display: inline-block;
  padding-right: 5%;
  border-right: 2px solid #ffa751;
}

.social-media-login-btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  padding: 10px;
  margin: 2%;
  border: 2px solid var(--black);
  border-radius: 5px;
  color: #fff;
  font-size: 1.25em;
  width: 400px;
  text-align: center;

  transition-duration: 0.5s;
  transition-property: transform;
}

.social-media-login-btn:hover {
  transform: scale(1.2) translate(-0.45em);
}

.social-media-login-btn i {
  color: inherit;
}

#fb-btn {
  background-color: rgb(59, 89, 152);
  border: 2px solid rgb(59, 89, 152);
}

#fb-btn:focus {
  border: 1px solid white;
}

#google-btn {
  background-color: rgb(219, 68, 55);
  border: 2px solid rgb(219, 68, 55);
}

#google-btn:focus {
  border: 1px solid white;
}

#twitter-btn {
  background-color: rgb(29, 161, 242);
  border: 2px solid rgb(29, 161, 242);
}

#twitter-btn:focus {
  border: 1px solid white;
}

.secondary-content form {
  display: inline-block;
  padding-left: 2%;
  position: relative;
  top: 55px;
}

.secondary-content form input {
  font-family: inherit;
  font-size: 1rem;
  border: 2px solid var(--black);
  padding: 3%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
}

.secondary-content form input:focus {
  border: 2px solid rgba(255, 255, 0, 0.5);
}

#uname-error-box {
  margin-left: 20px;
}

#passwd-error-box {
  margin-left: 20px;
}

.submit-btn {
  border: 2px solid var(--black);
  border-radius: 5px;
  position: relative;
  left: 35%;
  padding: 5px 10px;
  font-family: inherit;
  font-size: 2em;
  font-weight: 800;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;

  transition-duration: 0.5s;
  transition-property: transform;
}

.submit-btn:hover {
  background-color: #ffa751;

  transform: scale(1.15);
}

.form-hr {
  position: relative;
  top: 70px;
  width: 90%;
}

.signup {
  margin-top: 80px;
  margin-left: 150px;
}

.signup-link {
  text-decoration: none;
}

.signup-btn {
  border: 2px solid var(--black);
  border-radius: 5px;
  position: relative;
  left: 30%;
  padding: 5px 10px;
  font-family: inherit;
  font-size: 2em;
  font-weight: 800;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;

  transition-duration: 0.5s;
  transition-property: transform;
}

.signup-btn:hover {
  background-color: #ffa751;
  transform: scale(1.15);
}

.footer-hr {
  position: relative;
  top: 90px;
}

.copyright-text-container {
  margin-top: 7%;
  font-size: 20px;
}

.copyright-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
